body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

label,
select,
input {
    margin: 10px;
}

a {
    font-size: 18px;
    color: blue;
    text-decoration: underline;
}

.map-container {
    width: 100%;
}

.tooltip {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    font-size: 14px;
}


.state {
    fill: #D0D0D0
}

/* default color */
.borders {
    stroke: #FFFFFF;
    stroke-width: 1
}

.dccircle {
    display: yes
}

.separator1 {
    stroke: #B0B0B0;
    stroke-width: 2
}

/* Color specific states blue */
.sc,
.oh,
.ca,
.ny,
.tx {
    fill: #090933;
}

a path {
    cursor: pointer;
    transition: fill 0.3s;
}

/* Hover effect */
a:hover path {
    fill: #eeffac;
    /* or any color you want on hover */
}

#results a {

    font-weight: 500;
    color: black;
    font-size: 30px;
    margin: 60px;
    padding: 30px;
    background-color: #F7DDE6;
    border-radius: 20px;


}

#results a:hover {

    font-weight: 500;
    color: white;
    font-size: 30px;
    margin: 60px;
    padding: 30px;
    background-color: #F7DDE6;
    border-radius: 20px;
}

#awardDetails {
    font-weight: 500;
    color: black;
    font-size: 30px;
    margin: 60px;
    padding: 30px;
    background-color: #DFCBEB;
    border-radius: 20px;
}

#home-btn {
    font-size: 30px;
    background: #7A4179;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.middle {
    text-align: center;
}